.pagination-container {
  display: flex;
  justify-content: center; 
  margin: 1rem auto 0.5rem auto;
  font-size: 0.9rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  margin: 0 0.1rem;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 15px;
  padding: 10px 10px;
  border-radius: 3px;
  background-color: #921111;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination button:hover {
  background-color: #000000;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-link {
  color: bisque;
}

.is-disabled {
  cursor: not-allowed;
  background-color: rgb(209, 193, 193);
  pointer-events: none;
  color: black;
}

.is-current {
  color: #5a0e1b;
}
